.catalog {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;

  @include r(1229) {
    gap: 20px;
  }
  &__header {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 32px;

    @include r(1229) {
      padding: 0 18px;
      gap: 20px;
      grid-template-columns: 1fr;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    color: $blue;
  }

  &__wrapper {
    display: grid;
    gap: 40px 30px;
    grid-template-columns: repeat(3, minmax(285px, 360px));
    margin-bottom: 50px;
    @include r(1529) {
      margin-bottom: 10px;
    }
    @include r(1229) {
      margin-bottom: 0;
      gap: 20px 15px;
      grid-template-columns: repeat(auto-fill, minmax(153px, 285px));
    }

    @include r(768) {
      grid-template-columns: repeat(2, minmax(153px, 285px));
    }
  }
}
