.size-table {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 1010px;
  height: 1060px;
  background-color: $light;

  &__head {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    color: $gray;
  }

  &__block {
    display: flex;
    gap: 47px;
  }

  table {
    width: 100%;
    max-width: 720px;
    text-align: center;
    tr {
      display: flex;
      &:nth-child(odd) {
        background-color: $gray-light;
      }
    }
    td {
      display: flex;
      justify-content: center;
      padding: 19px 12px;
      width: calc(100% / 7);
      font-family: $font-second;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.8px;
      color: $gray;
    }
  }

  &__description {
    box-shadow: 0 4px 30px 0 rgba(110, 131, 151, 0.25);
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    width: max-content;
    padding: 19px 30px;
    font-family: $font-second;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    color: $gray;
  }

  &__picture {
    display: flex;
    flex-shrink: 0;
    width: 390px;
    height: 445px;
  }
}
