.favourite {
  position: absolute;
  top: 35px;
  right: 35px;
  display: flex;
  cursor: pointer;
  z-index: 2;

  @include r(1229) {
    top: 12px;
    right: 12px;
  }

  &.active {
    .favourite__icon {
      fill: $primary
    }
  }

  &__icon {
    display: flex;
    width: 22px;
    height: 20px;
    fill: $gray-outline;

    @include r(1229) {
      width: 14px;
      height: 12px;
    }
  }
}
