.product-card {
  display: flex;
  flex-direction: column;
  align-content: center;

  &__picture {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 25px;
    width: 100%;
    height: 385px;
    padding: 40px 48px;
    background-color: $light;

    @include r(1530) {
      margin-bottom: 10px;
      padding: 32px 38px;
      height: 305px;
    }

    &:hover {
      .product-card__detail {
        opacity: 1;
        z-index: 1;
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__name {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: $gray-dark;
  }

  &__price {
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: $gray-dark;
  }

  &__detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    opacity: 0;
    z-index: -1;
    background-color: rgba($light, 0.8);
    transition: .2s linear;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }

  &__size {
    display: flex;
    margin-bottom: 30px;
    gap: 10px;
  }

  &__text {
    margin-bottom: 15px;
    font-family: $font-second;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.7px;
    color: $gray;
  }
}
