.filter {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  min-width: 320px;
  max-width: 360px;

  @include r(1529) {
    max-width: 285px;
  }

  @include r(1229) {
    padding-left: 19px;
    padding-right: 16px;
    height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px 0;
    &:not(&:last-of-type) {
      border-bottom: 1px solid $gray-outline;
    }

    &:first-child {
      padding-top: 0;
    }

    @include r(1229) {
      padding: 15px 0;
      &:first-child {
        padding-bottom: 5px;
      }
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
    text-transform: uppercase;
    color: $gray-dark;
    transition: color .2s linear;

    @include r(1229) {
      font-size: 20px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 10px;
    
    @include r(1229) {
      gap: 8px;
      flex-direction: row;
    }
    
    &--column {
      align-items: flex-start;
      flex-direction: column;
      
      @include r(1229) {
        flex-direction: row;
      }
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  &__item.active &__title {
    color: $primary;
  }
  
  &__item.active &__icon {
    transform: rotate(180deg);
  }
  
  &__item.active &__dropdown {
    display: flex;
  }

  &__dropdown {
    display: none;
  }

  &__icon {
    display: flex;
    width: 14px;
    height: 8px;
    fill: $gray;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__link {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: $gray;

    @include r(1229) {
      font-size: 20px;
      line-height: 120%;
    }
  }
}
