// Colors
$light: #FFFFFF;
$dark: #081222;
$primary: #13B5EA;
$blue: #101F62;
$gray: #657493;
$gray-dark: #495A7D;
$gray-light: #F6F8FB;
$gray-outline: #C4CBD8;
$disabled: #E7ECF2;
$text: #ABB2C0;
$teal: #0CD8D8;

// Fonts
$font-main: 'Buyan', sans-serif;
$font-second: 'Manrope', sans-serif;
