<!DOCTYPE html>
<html lang="ru">

<head>
	<%= htmlWebpackPlugin.options.head %>
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">

<header class="header"></header>
<main class="main">
	<section class="section">
		<div class="container">
			<div class="breadcrumbs">
				<ul class="breadcrumbs__list">
					<li class="breadcrumbs__item">
						<a class="breadcrumbs__link breadcrumbs__link--back" href="#">
							<svg class="breadcrumbs__icon">
								<use xlink:href="./assets/sprite/sprite.svg#icon-arrow"></use>
							</svg>
							Назад
						</a>
					</li>
					<li class="breadcrumbs__item">
						<a class="breadcrumbs__link" href="#">Главная</a>
					</li>
					<li class="breadcrumbs__item">
						<span class="breadcrumbs__current">Экипировка</span>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="section pb-100 pbm-30">
		<div class="container">
			<h1 class="title title--offset">Избранное</h1>
			<div class="grid-card">
				<article class="card">
					<div class="card__picture">
						<img src="https://placehold.co/600x400" alt="">
						<button class="favourite active">
							<svg class="favourite__icon">
								<use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
							</svg>
						</button>
						<div class="card__detail">
							<div class="card__inner">
								<p class="card__text">Размеры:</p>
								<div class="card__size size">
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>XS</span>
									</label>
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>S</span>
									</label>
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>M</span>
									</label>
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>L</span>
									</label>
								</div>
								<a href="#" class="button button--outline">
									<span class="button__line-top"></span>
									Подробнее
									<span class="button__line-bottom"></span>
								</a>
							</div>
						</div>
					</div>
					<h3 class="card__name">Футболка голубая мужская</h3>
					<p class="price"><span>2580</span>₽</p>
				</article>
				<article class="card">
					<div class="card__picture">
						<img src="https://placehold.co/600x400" alt="">
						<button class="favourite active">
							<svg class="favourite__icon">
								<use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
							</svg>
						</button>
						<div class="card__detail">
							<div class="card__inner">
								<p class="card__text">Размеры:</p>
								<div class="card__size size">
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>XS</span>
									</label>
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>S</span>
									</label>
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>M</span>
									</label>
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>L</span>
									</label>
								</div>
								<a href="#" class="button button--outline">
									<span class="button__line-top"></span>
									Подробнее
									<span class="button__line-bottom"></span>
								</a>
							</div>
						</div>
					</div>
					<h3 class="card__name">Футболка голубая мужская</h3>
					<p class="price"><span>2580</span>₽</p>
				</article>
				<article class="card">
					<div class="card__picture">
						<img src="https://placehold.co/600x400" alt="">
						<button class="favourite active">
							<svg class="favourite__icon">
								<use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
							</svg>
						</button>
						<div class="card__detail">
							<div class="card__inner">
								<p class="card__text">Размеры:</p>
								<div class="card__size size">
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>XS</span>
									</label>
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>S</span>
									</label>
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>M</span>
									</label>
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>L</span>
									</label>
								</div>
								<a href="#" class="button button--outline">
									<span class="button__line-top"></span>
									Подробнее
									<span class="button__line-bottom"></span>
								</a>
							</div>
						</div>
					</div>
					<h3 class="card__name">Футболка голубая мужская</h3>
					<p class="price"><span>2580</span>₽</p>
				</article>
				<article class="card">
					<div class="card__picture">
						<img src="https://placehold.co/600x400" alt="">
						<button class="favourite active">
							<svg class="favourite__icon">
								<use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
							</svg>
						</button>
						<div class="card__detail">
							<div class="card__inner">
								<p class="card__text">Размеры:</p>
								<div class="card__size size">
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>XS</span>
									</label>
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>S</span>
									</label>
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>M</span>
									</label>
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>L</span>
									</label>
								</div>
								<a href="#" class="button button--outline">
									<span class="button__line-top"></span>
									Подробнее
									<span class="button__line-bottom"></span>
								</a>
							</div>
						</div>
					</div>
					<h3 class="card__name">Футболка голубая мужская</h3>
					<p class="price"><span>2580</span>₽</p>
				</article>
				<article class="card">
					<div class="card__picture">
						<img src="https://placehold.co/600x400" alt="">
						<button class="favourite active">
							<svg class="favourite__icon">
								<use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
							</svg>
						</button>
						<div class="card__detail">
							<div class="card__inner">
								<p class="card__text">Размеры:</p>
								<div class="card__size size">
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>XS</span>
									</label>
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>S</span>
									</label>
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>M</span>
									</label>
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>L</span>
									</label>
								</div>
								<a href="#" class="button button--outline">
									<span class="button__line-top"></span>
									Подробнее
									<span class="button__line-bottom"></span>
								</a>
							</div>
						</div>
					</div>
					<h3 class="card__name">Футболка голубая мужская</h3>
					<p class="price"><span>2580</span>₽</p>
				</article>
				<article class="card">
					<div class="card__picture">
						<img src="https://placehold.co/600x400" alt="">
						<button class="favourite active">
							<svg class="favourite__icon">
								<use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
							</svg>
						</button>
						<div class="card__detail">
							<div class="card__inner">
								<p class="card__text">Размеры:</p>
								<div class="card__size size">
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>XS</span>
									</label>
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>S</span>
									</label>
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>M</span>
									</label>
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>L</span>
									</label>
								</div>
								<a href="#" class="button button--outline">
									<span class="button__line-top"></span>
									Подробнее
									<span class="button__line-bottom"></span>
								</a>
							</div>
						</div>
					</div>
					<h3 class="card__name">Футболка голубая мужская</h3>
					<p class="price"><span>2580</span>₽</p>
				</article>
				<article class="card">
					<div class="card__picture">
						<img src="https://placehold.co/600x400" alt="">
						<button class="favourite active">
							<svg class="favourite__icon">
								<use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
							</svg>
						</button>
						<div class="card__detail">
							<div class="card__inner">
								<p class="card__text">Размеры:</p>
								<div class="card__size size">
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>XS</span>
									</label>
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>S</span>
									</label>
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>M</span>
									</label>
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>L</span>
									</label>
								</div>
								<a href="#" class="button button--outline">
									<span class="button__line-top"></span>
									Подробнее
									<span class="button__line-bottom"></span>
								</a>
							</div>
						</div>
					</div>
					<h3 class="card__name">Футболка голубая мужская</h3>
					<p class="price"><span>2580</span>₽</p>
				</article>
				<article class="card">
					<div class="card__picture">
						<img src="https://placehold.co/600x400" alt="">
						<button class="favourite active">
							<svg class="favourite__icon">
								<use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
							</svg>
						</button>
						<div class="card__detail">
							<div class="card__inner">
								<p class="card__text">Размеры:</p>
								<div class="card__size size">
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>XS</span>
									</label>
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>S</span>
									</label>
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>M</span>
									</label>
									<label class="checkbox checkbox--circle">
										<input type="checkbox" name="product-size">
										<span>L</span>
									</label>
								</div>
								<a href="#" class="button button--outline">
									<span class="button__line-top"></span>
									Подробнее
									<span class="button__line-bottom"></span>
								</a>
							</div>
						</div>
					</div>
					<h3 class="card__name">Футболка голубая мужская</h3>
					<p class="price"><span>2580</span>₽</p>
				</article>
			</div>
		</div>
	</section>
	<div class="nav-mobile">
		<nav class="nav-mobile__list">
			<a href="#" class="nav-mobile__link">
				<svg class="nav-mobile__icon">
					<use xlink:href="./assets/sprite/sprite.svg#icon-search"></use>
				</svg>
				<span>Поиск</span>
			</a>
			<a href="#" class="nav-mobile__link">
				<svg class="nav-mobile__icon">
					<use xlink:href="./assets/sprite/sprite.svg#icon-cart"></use>
				</svg>
				<span>Корзина</span>
			</a>
			<a href="#" class="nav-mobile__link">
				<svg class="nav-mobile__icon">
					<use xlink:href="./assets/sprite/sprite.svg#icon-heart-transparent"></use>
				</svg>
				<span>Избранное</span>
			</a>
			<a href="#" class="nav-mobile__link">
				<svg class="nav-mobile__icon">
					<use xlink:href="./assets/sprite/sprite.svg#icon-person"></use>
				</svg>
				<span>Личный кабинет</span>
			</a>
		</nav>
	</div>
</main>
<footer class="footer"></footer>

<%= htmlWebpackPlugin.options.hidden %>
<%= htmlWebpackPlugin.options.temp %>
</body>

</html>
