<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">

<header class="header"></header>
<main class="main">
    <section class="section">
        <div class="container">
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link breadcrumbs__link--back" href="#">
                            <svg class="breadcrumbs__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow"></use>
                            </svg>
                            Назад
                        </a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="#">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__current">Экипировка</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section pb-100">
        <div class="container">
            <div class="product-card">
                <div class="product-card__top">
                    <div class="product-card__preview">

                    </div>
                    <div class="product-card__detail">
                        <div class="product-card__info">
                            <p class="product-card__article">Арт. № CV0822-403</p>
                            <h1 class="product-card__title">Толстовка голубая</h1>
                        </div>
                        <div class="product-card__size">
                            <p class="product-card__text">Размер:</p>
                            <div class="size">
                                <label class="checkbox checkbox--circle">
                                    <input type="checkbox" name="product-size">
                                    <span>XS</span>
                                </label>
                                <label class="checkbox checkbox--circle">
                                    <input type="checkbox" name="product-size">
                                    <span>S</span>
                                </label>
                                <label class="checkbox checkbox--circle">
                                    <input type="checkbox" name="product-size">
                                    <span>M</span>
                                </label>
                                <label class="checkbox checkbox--circle">
                                    <input type="checkbox" name="product-size">
                                    <span>L</span>
                                </label>
                                <label class="checkbox checkbox--disabled checkbox--circle">
                                    <input type="checkbox" name="product-size">
                                    <span>XL</span>
                                </label>
                                <label class="checkbox checkbox--disabled checkbox--circle">
                                    <input type="checkbox" name="product-size">
                                    <span>XXL</span>
                                </label>
                            </div>
                            <button class="product-card__size-table">
                                <svg class="product-card__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-tape"></use>
                                </svg>
                                Таблица размеров
                            </button>
                        </div>
                        <p class="product-card__price price price--big"><span>2580</span>₽</p>
                        <button class="product-card__select">
                            <svg class="product-card__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                            </svg>
                            Добавить имя и номер в команде
                        </button>
                        <div class="toolbox">
                            <button class="button button--icon button--field" type="submit">
                                В корзину
                                <svg class="button__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-cart"></use>
                                </svg>
                            </button>
                            <button class="button button--outline">
                                <span class="button__line-top"></span>
                                В избранное
                                <svg class="button__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-heart-transparent"></use>
                                </svg>
                                <span class="button__line-bottom"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="product-card__about">
                    <div class="product-card__head">
                        <h3 class="product-card__title product-card__title--light">Описание</h3>
                    </div>
                    <div class="editor">
                        <p>Материал: ткань верха - 100% полиэстер, утеплитель - 100% полиэстер</p>
                        <p>Страна производитель: Китай</p>
                        <p>Утепленный жилет СКА темно-синего цвета - это стильная новинка осени 2022 года! Модель отлично подходит для повседневного стиля и хорошо сочетается с базовым гардеробом. Минималистичный логотип впереди смотрится лаконично и со вкусом, а на спине спряталась надпись Saint-Petersburg.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section pb-100">
        <div class="container">
            <h2 class="title mb-50">рекомендуем также</h2>
            <div class="wrapper">
                <article class="card">
                    <div class="card__picture">
                        <img src="https://placehold.co/600x400" alt="">
                        <button class="favourite">
                            <svg class="favourite__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <div class="card__detail">
                            <div class="card__inner">
                                <p class="card__text">Размеры:</p>
                                <div class="card__size size">
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>XS</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>S</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>M</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>L</span>
                                    </label>
                                </div>
                                <a href="#" class="button button--outline">
                                    <span class="button__line-top"></span>
                                    Подробнее
                                    <span class="button__line-bottom"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <h3 class="card__name">Футболка голубая мужская</h3>
                    <p class="price"><span>2580</span>₽</p>
                </article>
                <article class="card">
                    <div class="card__picture">
                        <img src="https://placehold.co/600x400" alt="">
                        <button class="favourite">
                            <svg class="favourite__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <div class="card__detail">
                            <div class="card__inner">
                                <p class="card__text">Размеры:</p>
                                <div class="card__size size">
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>XS</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>S</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>M</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>L</span>
                                    </label>
                                </div>
                                <a href="#" class="button button--outline">
                                    <span class="button__line-top"></span>
                                    Подробнее
                                    <span class="button__line-bottom"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <h3 class="card__name">Футболка голубая мужская</h3>
                    <p class="price"><span>2580</span>₽</p>
                </article>
                <article class="card">
                    <div class="card__picture">
                        <img src="https://placehold.co/600x400" alt="">
                        <button class="favourite">
                            <svg class="favourite__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <div class="card__detail">
                            <div class="card__inner">
                                <p class="card__text">Размеры:</p>
                                <div class="card__size size">
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>XS</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>S</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>M</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>L</span>
                                    </label>
                                </div>
                                <a href="#" class="button button--outline">
                                    <span class="button__line-top"></span>
                                    Подробнее
                                    <span class="button__line-bottom"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <h3 class="card__name">Футболка голубая мужская</h3>
                    <p class="price"><span>2580</span>₽</p>
                </article>
                <article class="card">
                    <div class="card__picture">
                        <img src="https://placehold.co/600x400" alt="">
                        <button class="favourite">
                            <svg class="favourite__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <div class="card__detail">
                            <div class="card__inner">
                                <p class="card__text">Размеры:</p>
                                <div class="card__size size">
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>XS</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>S</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>M</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>L</span>
                                    </label>
                                </div>
                                <a href="#" class="button button--outline">
                                    <span class="button__line-top"></span>
                                    Подробнее
                                    <span class="button__line-bottom"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <h3 class="card__name">Футболка голубая мужская</h3>
                    <p class="price"><span>2580</span>₽</p>
                </article>
            </div>
        </div>
    </section>
    <section class="section pb-100">
        <div class="container">
            <h2 class="title mb-50">Вы смотрели</h2>
            <div class="grid-card">
                <article class="card">
                    <div class="card__picture">
                        <img src="https://placehold.co/600x400" alt="">
                        <button class="favourite">
                            <svg class="favourite__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <div class="card__detail">
                            <div class="card__inner">
                                <p class="card__text">Размеры:</p>
                                <div class="card__size size">
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>XS</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>S</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>M</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>L</span>
                                    </label>
                                </div>
                                <a href="#" class="button button--outline">
                                    <span class="button__line-top"></span>
                                    Подробнее
                                    <span class="button__line-bottom"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <h3 class="card__name">Футболка голубая мужская</h3>
                    <p class="price"><span>2580</span>₽</p>
                </article>
                <article class="card">
                    <div class="card__picture">
                        <img src="https://placehold.co/600x400" alt="">
                        <button class="favourite">
                            <svg class="favourite__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <div class="card__detail">
                            <div class="card__inner">
                                <p class="card__text">Размеры:</p>
                                <div class="card__size size">
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>XS</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>S</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>M</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>L</span>
                                    </label>
                                </div>
                                <a href="#" class="button button--outline">
                                    <span class="button__line-top"></span>
                                    Подробнее
                                    <span class="button__line-bottom"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <h3 class="card__name">Футболка голубая мужская</h3>
                    <p class="price"><span>2580</span>₽</p>
                </article>
                <article class="card">
                    <div class="card__picture">
                        <img src="https://placehold.co/600x400" alt="">
                        <button class="favourite">
                            <svg class="favourite__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <div class="card__detail">
                            <div class="card__inner">
                                <p class="card__text">Размеры:</p>
                                <div class="card__size size">
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>XS</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>S</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>M</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>L</span>
                                    </label>
                                </div>
                                <a href="#" class="button button--outline">
                                    <span class="button__line-top"></span>
                                    Подробнее
                                    <span class="button__line-bottom"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <h3 class="card__name">Футболка голубая мужская</h3>
                    <p class="price"><span>2580</span>₽</p>
                </article>
                <article class="card">
                    <div class="card__picture">
                        <img src="https://placehold.co/600x400" alt="">
                        <button class="favourite">
                            <svg class="favourite__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <div class="card__detail">
                            <div class="card__inner">
                                <p class="card__text">Размеры:</p>
                                <div class="card__size size">
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>XS</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>S</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>M</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>L</span>
                                    </label>
                                </div>
                                <a href="#" class="button button--outline">
                                    <span class="button__line-top"></span>
                                    Подробнее
                                    <span class="button__line-bottom"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <h3 class="card__name">Футболка голубая мужская</h3>
                    <p class="price"><span>2580</span>₽</p>
                </article>
                <article class="card">
                    <div class="card__picture">
                        <img src="https://placehold.co/600x400" alt="">
                        <button class="favourite">
                            <svg class="favourite__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <div class="card__detail">
                            <div class="card__inner">
                                <p class="card__text">Размеры:</p>
                                <div class="card__size size">
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>XS</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>S</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>M</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>L</span>
                                    </label>
                                </div>
                                <a href="#" class="button button--outline">
                                    <span class="button__line-top"></span>
                                    Подробнее
                                    <span class="button__line-bottom"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <h3 class="card__name">Футболка голубая мужская</h3>
                    <p class="price"><span>2580</span>₽</p>
                </article>
                <article class="card">
                    <div class="card__picture">
                        <img src="https://placehold.co/600x400" alt="">
                        <button class="favourite">
                            <svg class="favourite__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <div class="card__detail">
                            <div class="card__inner">
                                <p class="card__text">Размеры:</p>
                                <div class="card__size size">
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>XS</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>S</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>M</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>L</span>
                                    </label>
                                </div>
                                <a href="#" class="button button--outline">
                                    <span class="button__line-top"></span>
                                    Подробнее
                                    <span class="button__line-bottom"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <h3 class="card__name">Футболка голубая мужская</h3>
                    <p class="price"><span>2580</span>₽</p>
                </article>
                <article class="card">
                    <div class="card__picture">
                        <img src="https://placehold.co/600x400" alt="">
                        <button class="favourite">
                            <svg class="favourite__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <div class="card__detail">
                            <div class="card__inner">
                                <p class="card__text">Размеры:</p>
                                <div class="card__size size">
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>XS</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>S</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>M</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>L</span>
                                    </label>
                                </div>
                                <a href="#" class="button button--outline">
                                    <span class="button__line-top"></span>
                                    Подробнее
                                    <span class="button__line-bottom"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <h3 class="card__name">Футболка голубая мужская</h3>
                    <p class="price"><span>2580</span>₽</p>
                </article>
                <article class="card">
                    <div class="card__picture">
                        <img src="https://placehold.co/600x400" alt="">
                        <button class="favourite">
                            <svg class="favourite__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <div class="card__detail">
                            <div class="card__inner">
                                <p class="card__text">Размеры:</p>
                                <div class="card__size size">
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>XS</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>S</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>M</span>
                                    </label>
                                    <label class="checkbox checkbox--circle">
                                        <input type="checkbox" name="product-size">
                                        <span>L</span>
                                    </label>
                                </div>
                                <a href="#" class="button button--outline">
                                    <span class="button__line-top"></span>
                                    Подробнее
                                    <span class="button__line-bottom"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <h3 class="card__name">Футболка голубая мужская</h3>
                    <p class="price"><span>2580</span>₽</p>
                </article>
            </div>
        </div>
    </section>
    <div class="nav-mobile">
        <nav class="nav-mobile__list">
            <a href="#" class="nav-mobile__link">
                <svg class="nav-mobile__icon">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-search"></use>
                </svg>
                <span>Поиск</span>
            </a>
            <a href="#" class="nav-mobile__link">
                <svg class="nav-mobile__icon">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-cart"></use>
                </svg>
                <span>Корзина</span>
            </a>
            <a href="#" class="nav-mobile__link">
                <svg class="nav-mobile__icon">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-heart-transparent"></use>
                </svg>
                <span>Избранное</span>
            </a>
            <a href="#" class="nav-mobile__link">
                <svg class="nav-mobile__icon">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-person"></use>
                </svg>
                <span>Личный кабинет</span>
            </a>
        </nav>
    </div>
</main>
<footer class="footer"></footer>

<%= htmlWebpackPlugin.options.temp %>
</body>

</html>
