.price {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 25px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  color: $gray-dark;

  @include r(1229) {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-align: left;
    text-transform: uppercase;
  }

  &--big {
    svg {
      width: 21px;
      height: 34px;
    }
    @include rmin(1230) {
      font-size: 48px;
      font-weight: 400;
      line-height: 32px;
      text-transform: uppercase;
    }
    
    @include r(1229) {
      svg {
        width: 11px;
        height: 17px;
      }
    }
  }

  &--blue {
    color: $blue;
  }

  &__icon {
    display: flex;
    width: 12px;
    height: 18px;
    fill: $blue;
  }
}
