<!DOCTYPE html>
<html lang="ru">

<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">

<header class="header"></header>
<main class="main">
  <section class="section">
    <div class="container">
      <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link breadcrumbs__link--back" href="#">
              <svg class="breadcrumbs__icon">
                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow"></use>
              </svg>
              Назад
            </a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__current">Экипировка</span>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section pb-100">
    <div class="container">
      <div class="wrapper">
        <form class="filter">
          <fieldset class="filter__block">
            <div class="filter__item">
              <div class="filter__head">
                <h2 class="filter__title">Игровая форма 22/23</h2>
                <svg class="filter__icon">
                  <use xlink:href="./assets/sprite/sprite.svg#icon-arrow"></use>
                </svg>
              </div>
            </div>
            <div class="filter__item active">
              <div class="filter__head">
                <h2 class="filter__title">Тренировочная форма взрослая</h2>
                <svg class="filter__icon">
                  <use xlink:href="./assets/sprite/sprite.svg#icon-arrow"></use>
                </svg>
              </div>
              <div class="filter__dropdown">
                <ul class="filter__list">
                  <li class="filter__element">
                    <a href="#" class="filter__link">Свитера</a>
                  </li>
                  <li class="filter__element">
                    <a href="#" class="filter__link">Брюки и шорты</a>
                  </li>
                  <li class="filter__element">
                    <a href="#" class="filter__link">Футболки</a>
                  </li>
                  <li class="filter__element">
                    <a href="#" class="filter__link">Куртки</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="filter__item">
              <div class="filter__head">
                <h2 class="filter__title">Тренировочная форма детская</h2>
                <svg class="filter__icon">
                  <use xlink:href="./assets/sprite/sprite.svg#icon-arrow"></use>
                </svg>
              </div>
            </div>
          </fieldset>
          <fieldset class="filter__block">
            <h2 class="filter__title">Пол</h2>
            <div class="filter__inner">
              <label class="radio">
                <input type="radio" class="hidden" checked name="sex" value="unisex">
                <span>Унисекс</span>
              </label>
              <label class="radio">
                <input type="radio" class="hidden" name="sex" value="male">
                <span>Муж</span>
              </label>
              <label class="radio">
                <input type="radio" class="hidden" name="sex" value="female">
                <span>Жен</span>
              </label>
            </div>
          </fieldset>
          <fieldset class="filter__block">
            <h2 class="filter__title">размер одежды</h2>
            <div class="filter__inner filter__inner--column">
              <label class="checkbox">
                <input type="checkbox" name="">
                <span>XS</span>
              </label>
              <label class="checkbox">
                <input type="checkbox" name="">
                <span>S</span>
              </label>
              <label class="checkbox">
                <input type="checkbox" name="">
                <span>M</span>
              </label>
              <label class="checkbox">
                <input type="checkbox" name="">
                <span>L</span>
              </label>
              <label class="checkbox">
                <input type="checkbox" name="">
                <span>XL</span>
              </label>
              <label class="checkbox">
                <input type="checkbox" name="">
                <span>XXL</span>
              </label>
            </div>
          </fieldset>
          <fieldset class="filter__block">
            <h2 class="filter__title">Цена</h2>
            <div class="filter__inner">
              <div class="range">
                <div class="range__toolbox">
                  <label class="range__item">
                    <input type="number" value="500" min="500" max="55500">
                  </label>
                  <div class="range__line"></div>
                  <label class="range__item">
                    <input type="number" value="55500" min="500" max="55500">
                  </label>
                </div>
                <p class="range__price">₽</p>
              </div>
            </div>
          </fieldset>
          <div class="toolbox">
            <button class="button button--field" type="submit">Показать</button>
            <button class="button button__transparent" type="reset">Сбросить</button>
          </div>
        </form>
        <div class="catalog">
          <div class="catalog__header">
            <h1 class="catalog__title">Экипировка</h1>
            <div class="sort">
              <div class="sort__item">
                <p class="sort__text">Показать по:</p>
                <select name="count" class="select">
                  <option value="16">16</option>
                  <option value="32">32</option>
                </select>
              </div>
              <div class="sort__item">
                <p class="sort__text">Сортировать по:</p>
                <select name="sort-type" class="select">
                  <option value="popular">По популярности</option>
                  <option value="16">По популярности</option>
                  <option value="16">По популярности</option>
                  <option value="16">По популярности</option>
                  <option value="16">По популярности</option>
                </select>
              </div>
            </div>
          </div>
          <div class="catalog__wrapper">
            <article class="product-card">
              <div class="product-card__picture">
                <img src="https://placehold.co/600x400" alt="">
                <p class="label label--new">Новинка</p>
                <button class="favourite active">
                  <svg class="favourite__icon">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                  </svg>
                </button>
                <div class="product-card__detail">
                  <div class="product-card__inner">
                    <p class="product-card__text">Размеры:</p>
                    <div class="product-card__size">
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>XS</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>S</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>M</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>L</span>
                      </label>
                    </div>
                    <a href="#" class="button">Подробнее</a>
                  </div>
                </div>
              </div>
              <h3 class="product-card__name">Футболка голубая мужская</h3>
              <p class="product-card__price"><span>2580</span>₽</p>
            </article>
            <article class="product-card">
              <div class="product-card__picture">
                <img src="https://placehold.co/600x400" alt="">
                <p class="label label--promotion">Акция</p>
                <button class="favourite">
                  <svg class="favourite__icon">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                  </svg>
                </button>
                <div class="product-card__detail">
                  <div class="product-card__inner">
                    <p class="product-card__text">Размеры:</p>
                    <div class="product-card__size">
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>XS</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>S</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>M</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>L</span>
                      </label>
                    </div>
                    <a href="#" class="button">Подробнее</a>
                  </div>
                </div>
              </div>
              <h3 class="product-card__name">Футболка голубая мужская</h3>
              <p class="product-card__price"><span>2580</span>₽</p>
            </article>
            <article class="product-card">
              <div class="product-card__picture">
                <img src="https://placehold.co/600x400" alt="">
                <button class="favourite">
                  <svg class="favourite__icon">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                  </svg>
                </button>
                <div class="product-card__detail">
                  <div class="product-card__inner">
                    <p class="product-card__text">Размеры:</p>
                    <div class="product-card__size">
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>XS</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>S</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>M</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>L</span>
                      </label>
                    </div>
                    <a href="#" class="button">Подробнее</a>
                  </div>
                </div>
              </div>
              <h3 class="product-card__name">Футболка голубая мужская</h3>
              <p class="product-card__price"><span>2580</span>₽</p>
            </article>
            <article class="product-card">
              <div class="product-card__picture">
                <img src="https://placehold.co/600x400" alt="">
                <button class="favourite">
                  <svg class="favourite__icon">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                  </svg>
                </button>
                <div class="product-card__detail">
                  <div class="product-card__inner">
                    <p class="product-card__text">Размеры:</p>
                    <div class="product-card__size">
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>XS</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>S</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>M</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>L</span>
                      </label>
                    </div>
                    <a href="#" class="button">Подробнее</a>
                  </div>
                </div>
              </div>
              <h3 class="product-card__name">Футболка голубая мужская</h3>
              <p class="product-card__price"><span>2580</span>₽</p>
            </article>
            <article class="product-card">
              <div class="product-card__picture">
                <img src="https://placehold.co/600x400" alt="">
                <button class="favourite">
                  <svg class="favourite__icon">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                  </svg>
                </button>
                <div class="product-card__detail">
                  <div class="product-card__inner">
                    <p class="product-card__text">Размеры:</p>
                    <div class="product-card__size">
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>XS</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>S</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>M</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>L</span>
                      </label>
                    </div>
                    <a href="#" class="button">Подробнее</a>
                  </div>
                </div>
              </div>
              <h3 class="product-card__name">Футболка голубая мужская</h3>
              <p class="product-card__price"><span>2580</span>₽</p>
            </article>
            <article class="product-card">
              <div class="product-card__picture">
                <img src="https://placehold.co/600x400" alt="">
                <button class="favourite">
                  <svg class="favourite__icon">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                  </svg>
                </button>
                <div class="product-card__detail">
                  <div class="product-card__inner">
                    <p class="product-card__text">Размеры:</p>
                    <div class="product-card__size">
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>XS</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>S</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>M</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>L</span>
                      </label>
                    </div>
                    <a href="#" class="button">Подробнее</a>
                  </div>
                </div>
              </div>
              <h3 class="product-card__name">Футболка голубая мужская</h3>
              <p class="product-card__price"><span>2580</span>₽</p>
            </article>
            <article class="product-card">
              <div class="product-card__picture">
                <img src="https://placehold.co/600x400" alt="">
                <button class="favourite">
                  <svg class="favourite__icon">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                  </svg>
                </button>
                <div class="product-card__detail">
                  <div class="product-card__inner">
                    <p class="product-card__text">Размеры:</p>
                    <div class="product-card__size">
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>XS</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>S</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>M</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>L</span>
                      </label>
                    </div>
                    <a href="#" class="button">Подробнее</a>
                  </div>
                </div>
              </div>
              <h3 class="product-card__name">Футболка голубая мужская</h3>
              <p class="product-card__price"><span>2580</span>₽</p>
            </article>
            <article class="product-card">
              <div class="product-card__picture">
                <img src="https://placehold.co/600x400" alt="">
                <button class="favourite">
                  <svg class="favourite__icon">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                  </svg>
                </button>
                <div class="product-card__detail">
                  <div class="product-card__inner">
                    <p class="product-card__text">Размеры:</p>
                    <div class="product-card__size">
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>XS</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>S</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>M</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>L</span>
                      </label>
                    </div>
                    <a href="#" class="button">Подробнее</a>
                  </div>
                </div>
              </div>
              <h3 class="product-card__name">Футболка голубая мужская</h3>
              <p class="product-card__price"><span>2580</span>₽</p>
            </article>
            <article class="product-card">
              <div class="product-card__picture">
                <img src="https://placehold.co/600x400" alt="">
                <button class="favourite">
                  <svg class="favourite__icon">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                  </svg>
                </button>
                <div class="product-card__detail">
                  <div class="product-card__inner">
                    <p class="product-card__text">Размеры:</p>
                    <div class="product-card__size">
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>XS</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>S</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>M</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>L</span>
                      </label>
                    </div>
                    <a href="#" class="button">Подробнее</a>
                  </div>
                </div>
              </div>
              <h3 class="product-card__name">Футболка голубая мужская</h3>
              <p class="product-card__price"><span>2580</span>₽</p>
            </article>
            <article class="product-card">
              <div class="product-card__picture">
                <img src="https://placehold.co/600x400" alt="">
                <button class="favourite">
                  <svg class="favourite__icon">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                  </svg>
                </button>
                <div class="product-card__detail">
                  <div class="product-card__inner">
                    <p class="product-card__text">Размеры:</p>
                    <div class="product-card__size">
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>XS</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>S</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>M</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>L</span>
                      </label>
                    </div>
                    <a href="#" class="button">Подробнее</a>
                  </div>
                </div>
              </div>
              <h3 class="product-card__name">Футболка голубая мужская</h3>
              <p class="product-card__price"><span>2580</span>₽</p>
            </article>
            <article class="product-card">
              <div class="product-card__picture">
                <img src="https://placehold.co/600x400" alt="">
                <button class="favourite">
                  <svg class="favourite__icon">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                  </svg>
                </button>
                <div class="product-card__detail">
                  <div class="product-card__inner">
                    <p class="product-card__text">Размеры:</p>
                    <div class="product-card__size">
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>XS</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>S</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>M</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>L</span>
                      </label>
                    </div>
                    <a href="#" class="button">Подробнее</a>
                  </div>
                </div>
              </div>
              <h3 class="product-card__name">Футболка голубая мужская</h3>
              <p class="product-card__price"><span>2580</span>₽</p>
            </article>
            <article class="product-card">
              <div class="product-card__picture">
                <img src="https://placehold.co/600x400" alt="">
                <button class="favourite">
                  <svg class="favourite__icon">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                  </svg>
                </button>
                <div class="product-card__detail">
                  <div class="product-card__inner">
                    <p class="product-card__text">Размеры:</p>
                    <div class="product-card__size">
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>XS</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>S</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>M</span>
                      </label>
                      <label class="checkbox checkbox--circle">
                        <input type="checkbox" name="product-size">
                        <span>L</span>
                      </label>
                    </div>
                    <a href="#" class="button">Подробнее</a>
                  </div>
                </div>
              </div>
              <h3 class="product-card__name">Футболка голубая мужская</h3>
              <p class="product-card__price"><span>2580</span>₽</p>
            </article>
          </div>
          <div class="pagination">
            <ul class="pagination__list">
              <li class="pagination__item">
                <a href="#" class="pagination__link">1</a>
              </li>
              <li class="pagination__item">
                <a href="#" class="pagination__link">...</a>
              </li>
              <li class="pagination__item">
                <a href="#" class="pagination__link">11</a>
              </li>
              <li class="pagination__item">
                <span class="pagination__link pagination__link--current">12</span>
              </li>
              <li class="pagination__item">
                <a href="#" class="pagination__link">13</a>
              </li>
              <li class="pagination__item">
                <a href="#" class="pagination__link">14</a>
              </li>
              <li class="pagination__item">
                <a href="#" class="pagination__link">15</a>
              </li>
              <li class="pagination__item">
                <a href="#" class="pagination__link">16</a>
              </li>
              <li class="pagination__item">
                <a href="#" class="pagination__link">...</a>
              </li>
              <li class="pagination__item">
                <a href="#" class="pagination__link">26</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<footer class="footer"></footer>

<%= htmlWebpackPlugin.options.temp %>
</body>

</html>
